/* footer content */
p{
	font-size: 1.1em;
	margin: 10px;
	color: black;
	font-family: arial;
}




p1{
	color: white;
	font-family: arial;
}



/* database queries content */
p2 {
	color: white;
	font-family: arial;
	font-size: 1.1vw;

}



/* genre desciption font */
p3 {
	color: white;
	font-family: arial;
	font-size: 14px;

}
	
