heading1, heading2 {
	width: 100%;
	display: grid;
	grid-gap: 3%;
	grid-template-columns: 0% 11% 11% 11% 11% 11% 11% 11% 0%;
	grid-template-rows: 60px;	
}

heading1{
	background-color: blue;  /* the songs nav heading */
	border-bottom: 1px solid #aaa;
	padding-top: 5px;
	padding-left: 5%;

}
	
heading2{
	padding-top: 2px;
	padding-left: 5%;
	
}

Song_ID1, Title1, Artist1, Album1, Genre1, Size1{
	border: 2px solid #555;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 5px;
	text-align: center;
	background-color: grey;
	height: 39px;
	width: 110px;
	
}



Song_ID2, Images2, Title2, Artist2, Album2, Genre2, Size2 {
	text-align: center;
	height: 10px;
	font-size:11.5px;
	width: 100w;
	

   
}


.right {
	text-align: right;
	padding-right: 10%;
}			
